.app {

    .aboutme__container{

        color: map-get($map: $colors, $key: color-text );
        position: relative;
        background-color: rgba(12, 12, 12, 0.6);
        border-radius:  15px;
        padding: 30px 60px;
        //margin-top: 129px;
        z-index: 1;
        margin: 10% 5% 5% 5%;

        .aboutme__content--titleImg{
            display: flex;
            align-items: center;
            gap: 10px;
            .aboutme__content--title{
                font-size: 35px;
                font-weight: 700;
                letter-spacing: 1.75px;
                text-transform: uppercase;

            }
            .aboutme__content--img{
                display: none;
            }
        }


        .aboutme__content--info{

            display: flex;
            flex-direction: row;
            align-items: center;

            .aboutme__content--info-img{
                width: 100%;
            }
            .aboutme__content--info-list{
                
                display: flex;
                flex-direction: column;
                gap: 10px;

                .aboutme__content--info-list_item{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 20px;
                    list-style: none;
                    padding: 25px;
                    background-image: linear-gradient(
                        90deg, 
                        rgba(165, 215, 232, 0.42) 0%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    background-size: 0 100%;
                    background-repeat: no-repeat;
                    transition: .5s;

                    .icons__descktop{
                        display: block;
                    }
                    .aboutme__content--info-icons{
                        margin-right: 5%;

                        .iconsFront{ 
                            font-size: 45px;
                            color: rgb(124, 185, 235);
                        }
                        .iconsBack{
                            font-size: 45px;
                            color: rgb(124, 185, 235);
                        }
                     }

                

                    .aboutme__content--info-text{
                        font-size: 25px;
                        .aboutme__content--info-text_title{
                               .aboutme__title{
                                    margin-bottom: 2%;
                                    font-weight: 600;
                                }
                                .incons__mobile{
                                    display: none;
                                }
                        }
                        .aboutme__content--info-text_description{}
                    }
                }

                .aboutme__content--info-list_item:hover {

                    background-size: 100% 100%;

                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .app {

        .aboutme__container{
            margin-top: 0;
             background-color: transparent;
             padding: 73px 0;
    
            .aboutme__content--titleImg{
                
                .aboutme__content--img{
                    display: flex;
                    width: 20%;
                }
            }
            .aboutme__content--info{
    
                flex-direction: column;
    
                .aboutme__content--info-img{
                    display: none;
                }
                .aboutme__content--info-list{//ul
                    
                    margin-top: 29px;
    
                    .aboutme__content--info-list_item{//li
                        
                        margin-left: 0;
                        margin-right: 0;
                        .icons__descktop{
                            display: none;
                        }
                        .aboutme__content--info-icons{
                            .iconsFront{
                                font-size: 23px;
                            }
                            .iconsBack{
                                font-size: 23px;
                            }

                        }
                        
                        .aboutme__content--info-text{
                            .aboutme__content--info-text_title{
                                display: flex;
                                gap: 20px;
                                align-items: center;
                                .aboutme__title{}
                                    .incons__mobile{
                                        display: block;
                                    }
                            }
                            .aboutme__content--info-text_description{}
                        }
                    }
    
                    .aboutme__content--info-list_item:hover {}
                }
            }
        }
    }
    
}