.app {

    .experience__container{

        color: map-get($map: $colors, $key: color-text );
        margin-top: 79px;
        margin-left: 10%;
        margin-right: 10%;

        .experience__title{
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 1.75px;
            text-transform: uppercase;
        }

        .experience__content{

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 14px;


            .experience__content-skills{

                width: 45%;
                display: flex;
                flex-wrap: wrap;
                gap: 37px;

                .experience__content-skills_item{

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 11px;
                    .experience__content-skills_item-img{

                        background-color: map-get($map: $colors, $key: color-secondary);
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 130px;
                        height: 120px;
                        .skills_item-img{
                            width: 75px;
                        }
                    }
                    .experience__content-skills_item-title{

                        font-size: 25px;
                        font-family: map-get($map: $tipography, $key: font-Roboto );
                        font-weight: 500;

                    }
                }

            }
            ////////////

            .experience__content-history{

                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .content-history_item{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 17px;
                    background: #19376d;
                    background: linear-gradient(
                        90deg,
                        #19376d 0%,
                        rgba(25, 55, 109, 0) 100%
                    );
                    border-radius: 10px;
                    padding: 10px;
                    .history_item-img{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }

                    .history_item-details{

                        font-family: map-get($map: $tipography, $key: font-Roboto);
                        .history_item-details--title{
                            font-size: 25px;
                            font-weight: 500;
                        }

                        .history_item-details--date{
                            font-size: 15px;
                            font-weight: 300;
                        }

                        .history_item-details--experences{

                            margin-top: 6px;
                            list-style-position: inside;
                            font-size: 20px;
                            list-style-type: disc;
                            margin-left: 17px;
                            .history_item-details--experences_item{}
                        }
                    }
                }
            }
        }

        
    }
}

@media screen and (max-width: 830px) {
 
    .app {

        .experience__container{
    
            .experience__title{ }
    
            .experience__content{
    
                flex-direction: column;
                align-items: center;
                gap: 34px;
                .experience__content-skills{
    
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    .experience__content-skills_item{

                        .experience__content-skills_item-img{
                            .skills_item-img{
                             
                            }
                        }
                        .experience__content-skills_item-title{
    
    
                        }
                    }
    
                }
                ////////////
    
                .experience__content-history{
    
                    width: 100%;
                    gap: 9px;
                    .content-history_item{
  
                        .history_item-details{
    
                            
                            .history_item-details--title{

                            }
    
                            .history_item-details--date{

                            }
    
                            .history_item-details--experences{
                                .history_item-details--experences_item{}
                            }
                        }
                    }
                }
            }
    
            
        }
    }
}