@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

$colors:(
    color-text: #fff,
    color-primary: #576cbc,
    color-secondary: #19376d,
    color-dark:  #0b2447,
    color-bg: #04152d
);

$tipography:(
    font-Roboto: 'Roboto',
    font-Monserrat: 'Monserrat',
    font-Grandstander: 'Grandstander',
    font-Noto-Sans-Vai: 'Noto Sans Vai',
    font-Raleway: 'Raleway'

);  