@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
//letra

@import 'variables';

//bootstrap


//estilos, mixins reset responsive
@import 'navbar';
@import 'hero';
@import 'aboutme';
@import 'experience';
@import 'projects';
// @import 'contact';